cycler==0.12.1
decorator==4.4.2
imageio==2.37.0
kiwisolver==1.4.7
lazy_loader==0.4
matplotlib==3.4.1
networkx==3.2.1
numpy==1.25.2
opencv-python==4.5.1.48
packaging==24.2
Pillow==9.1.0
pygraphviz==1.11
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2021.1
scikit-image==0.24.0
scipy==1.13.1
six==1.17.0
svgwrite==1.4.1
tifffile==2024.8.30
torch==1.8.1
torchaudio==0.8.1
torchvision==0.9.1
typing_extensions==4.12.2
webcolors==1.11.1
